<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-dd-message-mp-pi-heading" jhiTranslate="piApp.ddMessage.home.createOrEditLabel">Create or edit a Dd Message</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="piApp.ddMessage.receivingDepartment" for="field_receivingDepartment">Receiving Department</label>
                    <input type="text" class="form-control" name="receivingDepartment" id="field_receivingDepartment"
                           formControlName="receivingDepartment"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="piApp.ddMessage.receivingUser" for="field_receivingUser">Receiving User</label>
                    <input type="text" class="form-control" name="receivingUser" id="field_receivingUser"
                           formControlName="receivingUser"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="piApp.ddMessage.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="piApp.ddMessage.json" for="field_json">Json</label>
                    <input type="text" class="form-control" name="json" id="field_json"
                           formControlName="json"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="piApp.ddMessage.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="ActionCard">{{'piApp.DdMessageType.ActionCard' | translate}}</option>
                        <option value="Markdown">{{'piApp.DdMessageType.Markdown' | translate}}</option>
                        <option value="Oa">{{'piApp.DdMessageType.Oa' | translate}}</option>
                        <option value="Link">{{'piApp.DdMessageType.Link' | translate}}</option>
                        <option value="File">{{'piApp.DdMessageType.File' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="piApp.ddMessage.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="SentSuccessfully">{{'piApp.MessageStatus.SentSuccessfully' | translate}}</option>
                        <option value="NotSentYet">{{'piApp.MessageStatus.NotSentYet' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="piApp.ddMessage.processInstance" for="field_processInstance">Process Instance</label>
                    <select class="form-control" id="field_processInstance" name="processInstance" formControlName="processInstance">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="processInstanceOption.id === editForm.get('processInstance').value?.id ? editForm.get('processInstance').value : processInstanceOption" *ngFor="let processInstanceOption of processinstances; trackBy: trackProcessInstanceById">{{processInstanceOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
